version: '3.8'

services:
  backend:
    build: .
    container_name: story-backend
    environment:
      - MONGODB_CONNECTION_STRING=mongodb://mongodb:27017/story
    ports:
      - "3010:3010"
    depends_on:
      - mongodb

  mongodb:
    image: mongo:4.2.8
    container_name: story-mongodb
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
